<% include partials/header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>This is a simple sample of Node.js &amp; MySQL CRUD for a jumping off point to get into Node.js.</p>
                <div class="table-wrapper"><% if (spots.length > 0) {%>
                    <table class="table table-hovered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Address</th>
                                <th scope="col">Locale</th>
                                <th scope="col">Description</th>
                                <th scope="col">Twitter</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody><% spots.forEach((spot, index) => { %>
                            <tr>
                                <th scope="row">
                                    <a href="/view/<%= spot.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-primary">View
                                </th>
                                <td>
                                    <img src="/assets/img/<%= spot.image %>" class="rounded-circle spot-img" alt="">
                                </td>
                                <td>
                                    <%= spot.spot_title %>
                                </td>
                                <td>
                                    <%= spot.spot_address %>
                                </td>
                                <td>
                                    <%= spot.spot_locale %>
                                </td>
                                <td>
                                    <%= spot.spot_description %>
                                </td>
                                <td>
                                    <a href="https://www.twitter.com/<%= spot.spot_username %>">@<%= spot.spot_username %></a>
                                </td>
                                <td>
                                    <a href="/edit/<%= spot.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-info">Edit</a>
                                    <a href="/delete/<%= spot.id %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr><% }) %>
                            <tr>
                                <td colspan="8"><a href="/add" target="_blank" rel="noopener" class="btn btn-sm btn-success">Add New Spot</a>
                            </tr>
                            </tbody>
                        </table><% } else { %>
                        <p class="text-center">No spots found. Go 
                            <a href="/add" >here</a> to add a spot.
                        </p><% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>